.registration-preview {
  display: flex;
  width: 100%;
}

.registration-form {
  align-items: center;
  background-color: lightpink;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.card-preview {
  align-items: center;
  background-color: pink;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.card-deck {
  display: flex;
  width: 100%;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  padding: 10px;
  text-align: center;
}

.filters {
  display: flex;
  flex-direction: column;
  margin-right: 200px;
}
