.card-content {
  align-items: center;
  background-color: white;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  height: 350px;
  justify-content: center;
  width: 200px;
}

.card-content img {
  width: 80px;
}

.card-content p {
  line-height: 3px;
}