.card-content {
  align-items: center;
  background-color: rgb(202, 255, 202);
  border-bottom: 8px solid red;
  border-left: 8px solid red;
  border-radius: 10px;
  border-right: 8px solid red;
  border-top: 16px solid red;
  display: flex;
  flex-direction: column;
  font-size: small;
  height: 350px;
  justify-content: center;
  width: 200px;
}

.card-content img {
  width: 80px;
}

.card-content p {
  line-height: 3px;
}
