form {
  display: flex;
  flex-direction: column;
  width: 500px;
}

form button {
  height: 30px;
  width: 50px;
}

form textarea {
  height: 50px;
}

form select {
  width: 90px;
}

label {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.save {
  display: flex;
  justify-content: center;
}
